* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    background-color: #e3e3e3;
}

.app {
    margin: 100px auto;
    width: 60%;
}

.header {
    background-color: #eee;
    padding: 45px 0 35px 35px;
}

.title {
    font-weight: normal;
}

.version {
    font-size: 13px;
    color: gray;
}

.content {
    background-color: #eee;
    overflow: auto;
}

.task-form, .task-list {
    background: #fff;
    float: left;
    min-height: 450px;
    padding-bottom: 30px;
    width: 49.5%;
}

.task-form h2, .task-list h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 30px 30px;
}

.task-form form {
    margin-left: 30px;;
}

.task-form label {
    display: block;
    font-size: 14px;
    padding-bottom: 5px;
}

.form-group {
    margin-bottom: 30px;
}

input[type=text], input[type=date] {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    width: 88%;
}

input[type=submit] {
    background: #454545;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    padding: 14px 20px;
}

.task-list {
    float: right;
}

.task-list ul {
    border: 4px solid #eee;
    border-radius: 5px;
    font-size: 13px;
    list-style: none;
    margin-left: 30px;
    width: 86%;
}

.task-list li {
    border: 1px solid #fff;
    padding: 14px 20px;
}

.task-list li:nth-child(even) {
    background: #eee;
}

.task-list span {
    color: gray;
    padding-left: 10px;
}

.task-list em {
    font-style: normal;
    font-weight: 500;
    float: right;
}
