body {
    background-color: $lighter-gray;
}

.app {
    margin: 100px auto;
    width: 60%;
}

.header {
    background-color: $light-gray;
    padding: 45px 0 35px 35px;
}

.title {
    font-weight: normal;
}

.version {
    font-size: 13px;
    color: gray;
}

.content {
    background-color: $light-gray;
    overflow: auto;
}

.task-form, .task-list {
    background: #fff;
    float: left;
    min-height: 450px;
    padding-bottom: 30px;
    width: 49.5%;

    h2 {
        font-size: 16px;
        font-weight: normal;
        margin: 30px 30px;
    }
}

.task-form {
    form {
        margin-left: 30px;;
    }
}

.task-form {
    label {
        display: block;
        font-size: 14px;
        padding-bottom: 5px;
    }
}

.form-group {
    margin-bottom: 30px;
}

input[type=text], input[type=date] {
    background: $light-gray;
    border: 1px solid $gray;
    border-radius: $border-radius;
    padding: 12px;
    width: 88%;
}

input[type=submit] {
    background: $dark-gray;
    border: 0;
    border-radius: $border-radius;
    color: #fff;
    font-size: 16px;
    padding: 14px 20px;
}

.task-list {
    float: right;

    ul {
        border: 4px solid $light-gray;
        border-radius: $border-radius;
        font-size: 13px;
        list-style: none;
        margin-left: 30px;
        width: 86%;
    }

    li {
        border: 1px solid #fff;
        padding: 14px 20px;

        &:nth-child(even) {
            background: $light-gray;
        }
    }

    span {
        color: gray;
        padding-left: 10px;
    }

    em {
        font-style: normal;
        font-weight: 500;
        float: right;
    }
}
